@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    width: 375px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

input:focus::placeholder {
    color: transparent;
  }

.Cabecalho {
    height: 80px;
    width: 375px;
    background: #FFFFFF;
    padding: 0 22px;
    box-shadow: 0px 4px 6px 0px #0000000D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.Cabecalho img {
    height: 53px;
    width: 75px;
}

.Cabecalho ion-icon {
    font-size: 42px;
}
.Cabecalho ion-icon:hover{
    cursor: pointer;
}
.Batepapo {
    height: 100%;
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 80px;
    padding: 26px 0 84px 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.Batepapo .Mensagem {
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Batepapo .Mensagem .HoraMensagem {
    color: #AAAAAA;
    margin-right: 5px;
}

.Batepapo .Mensagem .QuemEscreveuPraQuemMensagem {
    margin-right: 7px;
}
.Batepapo .status{
    background: #DCDCDC;
}
.Batepapo .message{
    background: white;
}
.Batepapo .private_message{
    background: #FFDEDE;
}
.Rodape {
    width: 375px;
    height: 80px;
    padding: 0 17px;
    background-color: white;
    box-shadow: 0px -4px 6px 0px #0000000D;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.Rodape input[type=text] {
    width: 300px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
    border: none;
    outline: none;
}
.Rodape ion-icon{
    font-size: 32px;
}

.Rodape .BotaoEnter:hover{
    cursor: pointer;
}

.TelaInicial{
    width: 375px;
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    outline: none;
}
.TelaInicial img{
    height: 92px;
    width: 130px;
    margin-top: 72px;
    margin-bottom: 94px;
}

.TelaInicial input[type=text]{
    height: 54px;
    width: 261px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    color: #AEAEAE;
    text-align: center;
    outline: none;
}

.TelaInicial button{
    height: 45px;
    width: 109px;
    border-radius: 9px;
    background: #E7E7E7;
    color: #696969;
    border: none;
    text-align: center;
}

.Sidebar{
    width: 375px;
    height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
.Sidebar .TelaPreta{
    width: 116px;
    background-color: rgba(0, 0, 0, 0.7)
}

.Sidebar .MenuSidebar{
    width: 259px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.Sidebar .MenuSidebar h1{
    width: 259px;
    margin: 20px 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    color: black;
}

.Sidebar .MenuSidebar .Contato{
    height: 36px;
    font-size: 24px;
    padding: 0 18px ;
    display: flex;
    align-items: center;
}
.Sidebar .MenuSidebar .Contato:hover{
    cursor: pointer;
}

.Sidebar .MenuSidebar .Contato p{
    margin-left: 8px;
    width: 190px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
}

.Sidebar .MenuSidebar .Contato .check{
    font-size: 20px;
    color: #28BB25;
    margin-left: auto;
    display: none;
}
.Sidebar .MenuSidebar .isChecked .check{
    display: flex;
}

.DESAPARECA{
    display: none;
}